@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    line-height: 1.15;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", "Verdana", sans-serif;
}

main { margin-bottom: 20px; }

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    min-height: 100px;
    border-bottom: 1px solid black;
}

#logotype { height: 60px; }

#header-right {
    display: flex;
    gap: 2em;
    color: #007AC9;
}

#header-right .symbol-text { border-bottom: 2px solid #007AC9; margin-left: 5px; }

.accessability-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.accessability-button:hover {
    cursor: pointer;
    color: #17a2ff;
}

#login-button {
    border: 0;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007AC9;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#login-button:hover {
    background-color: #17a2ff;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    gap: 8em;
    background-color: #E30613;
    color: white;
    min-height: 250px;
}

footer>div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer a { color: white; }
footer a:hover { color: #007AC9; }

footer .material-symbols-outlined {
    vertical-align: -6px;
}

footer .footer-link { margin-right: 8px; }

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/hero_image_small.webp");
    background-size: cover; 
    height: 350px;
    position: relative;
    border-bottom: 1px solid black;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
    margin-top: -30px;
    background-color: #D9D9D9;
    max-width: 95%;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
}

#search>input {
    width: 450px;
    height: 42px;
    line-height: 35px;
    font-size: 18px;
    border: 0;
    padding: 0px 5px 0 5px;
    border-radius: 8px;
}

#search>input::placeholder { color: black; }

#search>input:focus { outline: 0; }

#search>span {
    font-size: 32px;
    transition: all 0.2s ease;
}

#search>span:hover { box-shadow: 0 0 10px rgba(0,0,0, 0.7); }

.rounded-icon {
    border-radius: 50%;
    background-color: white;
}

#search>.rounded-icon { padding: 5px; border: 2px solid #6D6D6D; }
#nav-buttons-big .rounded-icon { padding: 12px; }

#search>span:hover { cursor: pointer; }

#nav-buttons-big {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    position: absolute;
    bottom: -45px;
}

#nav-buttons-big>a { text-decoration: none; }

#nav-buttons-big>a>div {
    display: flex;
    align-items: center;
    height: 90px;
    width: 280px;
    border: 1px solid #8A8A8A;
    transition: all 0.2s ease;
}

#nav-buttons-big>a>div:hover {
    box-shadow: 0 0 10px rgba(0,0,0, 0.7);
}

#nav-buttons-big .nav-buttons-big-left {
    width: 31%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book { background-color: #E07400; }
.contact { background-color: #E30613; }
.info { background-color: #577C2D; }
.book>div { color: #E07400 !important; }
.contact>div { color: #E30613 !important; }
.info>div { color: #577C2D !important; }

#nav-buttons-big .nav-buttons-big-left>span {
    font-size: 40px;
}

#nav-buttons-big .nav-buttons-big-right {
    background-color: white;
    width: 70%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

article {
    margin: 100px auto 0 auto;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

article p {
    line-height: 1.5;
    font-size: 18px;
}

.big-button {
    width: 100%;
    height: 50px;
    border: 0;
    background-color: #007AC9;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
}

.big-button:hover {
    background-color: #17a2ff;
    cursor: pointer;
}

#login {
    max-width: 30em;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 5px;
}

#login>.form-info>.info-title, #login>#return-form-info>.info-title {
    background-color: #E30613;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
}

#login>.form-info { background-color: #6D6D6D; display: flex; flex-direction: column; gap: 1px; border: 1px solid #6D6D6D; width: 100%; }
#login>#return-form-info { background-color: #6D6D6D; display: none; flex-direction: column; gap: 1px; border: 1px solid #6D6D6D; width: 100%; }
#login>.form-info>input[type=text] {
    height: 50px;
    font-size: 18px;
    padding: 0 10px;
    background-color: #D9D9D9;
    border: 0;
}

#login>.form-info>input::placeholder, #login>#return-form-info>input::placeholder { color: black; }
#login>.form-info>input:focus, #login>#return-form-info>input:focus { outline: 0; }

#form-buttons {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    gap: 25px;
    margin-top: 50px;
}

#form-buttons>button {
    border: 0;
    height: 50px;
    background-color: #007AC9;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 22px;
}

#form-buttons>button>img { vertical-align: -17px; }
#mobile-bankid img { width: 60px; filter: brightness(0) invert(1); }
#form-buttons>button:hover { cursor: pointer; background-color: #17a2ff; }
.green-button { background-color: #577C2D !important; }
.red-button { background-color: #E30613 !important; }
.orange-button { background-color: #AB6317 !important; }
.red-button:hover { background-color: #ec3844 !important; }
.orange-button:hover { background-color: #bb7122 !important; }
.green-button:hover { background-color: #739c43 !important; }

.vl {
    border-left: 4px solid #989898;
    height: 60px;
    margin: 0 auto;
}

.long-button {
    width: 450px !important;
    max-width: 100%;
}

.long-button>button { height: 70px !important; }

#mina-sidor {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

.white-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.white-section>p { font-size: 18px; margin-bottom: 10px;}
.white-section>input[type=time] {
    background-color: #D9D9D9;
    border: 0;
    padding: 10px;
    font-size: 18px;
    font-family: "Roboto";
}

input[type=date] {
    border: 0;
    height: 50px;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Roboto";
    text-align: center;
    background-color: #D9D9D9;
}

.trip-alternatives { display: flex; }
.trip-alternatives>div { padding: 0 30px 0 30px; }
.trip-alternatives>div>div>label { font-size: 18px; }

.trip-alternatives>div>div {
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.trip-alternatives>div>div>input[type="checkbox"] {
    border-radius: 0;
    height: 30px;
    width: 30px;
}

textarea {
    height: 150px;
    border: 0;
    font-size: 18px;
    padding: 10px;
    background-color: #D9D9D9;
    font-family: "Roboto";
    resize: none;
}

textarea:focus { outline: none; }
textarea::placeholder { color: black; }

ul.breadcrumbs {
    position: absolute;
    top: 110px;
    left: 10px;
    list-style: none;
}

ul.breadcrumbs li { display: inline; font-size: 18px; }
ul.breadcrumbs li a { color: #007AC9; }
ul.breadcrumbs li a:hover { color: #17a2ff; }
ul.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";
}

#accessability-wrapper .symbol-text { text-decoration: underline; }
#accessability-wrapper {
    display: flex;
    gap: 1em;
    position: absolute;
    top: 110px;
    right: 10px;
    color: #007AC9;
}

#short-nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#short-nav-menu>li { display: inline; }
#short-nav-menu>li>a { color: black; text-decoration: none; font-weight: 500; font-size: 20px; }
#short-nav-menu>li>a:hover { text-decoration: underline; }

.accessability-wrapper-header {
    display: flex;
    gap: 1em;
    font-size: 20px;
}

#confirmation { max-width: 30em; margin: 100px auto; display: flex; flex-direction: column; gap: 2em; align-items: center; }

#confirmed-trip {
    border: 1px solid #6D6D6D;
    width: 100%;
    font-size: 20px;
}

#confirmed-trip>#confirmed-trip-title {
    background-color: #E30613;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#confirmed-trip>#confirmed-trip-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status-wrapper { display: flex; align-items: center; gap: 10px; margin-bottom: 15px;}
.status-icon-green { background-color: #7AAD3F; }
.status-icon-red { background-color: #E30613; }
.status-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.booked>span { color: #577C2D; font-size: 30px; vertical-align: -6px; margin-left: 5px; }
.warning { font-size: 22px; }
.warning>span { color: #AB6317; font-size: 30px; vertical-align: -6px; margin-right: 5px; }
.abc { margin-bottom: -8px !important; }

.text-divider {
    width: 100%;
    height: 1px;
    background-color: #9B9B9B;
}

.left-heading { align-self: start; font-weight: 400; margin-bottom: -20px;}
.center-heading { font-weight: 400; align-self: center; }
.information-list { font-size: 18px; padding-inline-start: 0; margin-inline-start: 50px; }
.information-list>li::marker { color: #5B5B5B; font-size: 25px; }

#red-menu-wrapper {
    width: 100%;
    height: 70px;
    background-color: #E30613;
}

#red-menu-wrapper>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
    list-style-type: none;
}

#red-menu-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 30em;
    margin: 50px auto;
}

.contact-wrapper {
    width: 500px;
    max-width: 99%;
    border: 1px solid #6D6D6D
}

.contact-title {
    background-color: #E30613;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.contact-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #6D6D6D;
    border: 1px solid #6D6D6D;
    width: 390px;
    max-width: 95%;
    margin: 40px auto;
}

.contact-input>input {
    border: 0;
    background-color: #D9D9D9;
    font-size: 18px;
    height: 45px;
    padding: 0px 10px 0 10px;
}

.contact-input>input::placeholder { color: black; }
.contact-input>input:focus { outline: 0; }

.contact-button {
    width: 390px;
    max-width: 95%;
    border: 0;
    border-radius: 0;
    background-color: #007AC9;
    color: white;
    height: 40px;
    font-size: 24px;
    font-weight: 560;
    margin-bottom: 40px;
}

.contact-button:hover { cursor: pointer; background-color: #17a2ff; }

#red-menu-wrapper .red-active, #red-menu-wrapper a:hover { text-decoration: underline;}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-icon {
    background-color: #E30613;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container span { font-size: 35px; }
.contact-container p, .contact-container a { font-size: 20px; }
.contact-container a { color: #007AC9; }
.space { height: 80px; }

#header-right-mobile { display: none; }
#header-right-mobile a { text-decoration: none; }

.login-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007AC9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon:hover { background-color: #17a2ff; }
.login-icon>span { margin-right: 2px; font-size: 40px; }

#open-menu, #close-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}
#close-menu { margin-right: -10px; }
#open-menu:hover, #close-menu:hover { cursor: pointer; }

#open-menu>span { font-size: 30px; }
#open-menu>p { font-size: 20px; }
#close-menu>span { font-size: 40px; }
#close-menu>p { font-size: 30px; }
#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: end;
    padding: 20px 40px 0px 60px;
    gap: 30px;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
}

#mobile-menu>button {
    background-color: #007AC9;
    border: 0;
    color: white;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#mobile-menu>button>span {
    font-size: 40px;
}

#mobile-menu>button:hover { cursor: pointer; background-color: #17a2ff; }

#mobile-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mobile-menu li {
    font-size: 40px;
    text-align: right;
}
#mobile-menu li:hover { text-decoration: underline; cursor: pointer; }
#mobile-menu .mobile-menu-active { text-decoration: underline; }

#mobile-menu .accessability-wrapper-header { color: #007AC9; flex-direction: column; align-items: end; font-size: 30px; }
#mobile-menu .symbol-text { text-decoration: underline; }
#mobile-menu .material-symbols-outlined { font-size: 44px; }
#mobile-menu .accessability-button { gap: 20px; }
#mobile-menu a { color: black; }
footer a:hover { color: white !important; }

.tip {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #577C2D;
    color: white;
    padding: 5px;
    border-radius: 10px;
    line-height: 1.15em;
    width: 30em;
    max-width: 100%;
    margin: 0 auto;
}

.tip>.material-symbols-outlined { margin-bottom: 2px; }

/* MEDIA QUERIES*/
@media (width <= 924px) {
    #hero { 
        flex-direction: column;
    }

    #search { margin-top: 5px; }

    #nav-buttons-big {
        position: relative;
        flex-direction: column;
        gap: 5px;
        bottom: -5px;
    }

    #nav-buttons-big>a>div { height: 84px; }

    article { margin-top: 30px; padding: 5px; }
}

@media (width <= 635px) {
    #red-menu-wrapper { display: none; }

    footer {
        flex-direction: column;
        gap: 1em;
        align-items: start;
    }
    
    footer>div { gap: 5px; margin-left: 20px;}
    ul.breadcrumbs { left: 6px; top: 135px; }

    header { justify-content: space-between; padding: 0 10px 0 10px; }
    #header-right { display: none; }
    #header-right-mobile { 
        display: flex;
        gap: 15px;
    }

    #hero {
        justify-content: space-between;
    }

    #search {
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        margin-top: 0;
    }

    #nav-buttons-big { bottom: 10px; }
}

@media (width <= 350px) {
    .trip-alternatives { flex-direction: column; }
}

@media (width <= 400px) {
    #open-menu p { display: none; }
}